<!DOCTYPE html>
<html lang="en">

<head>
  <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous"> -->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{.Title}}</title>
  {{ template "style" . }}
  <link rel="stylesheet" href="/static/css/style.css">

</head>

<body>
    <div class="container"> 
        <div class="wrapper1">
            <div class="sidebar-nav">
                <div class="nav-logo">
                    <img src="">
                </div>
                <div class="sidebar-buttons">
            
                    <ul>
                        <li><button class="dashboard-dropdown">Dashboard
                            <i class="fa fa-caret-down"></i>
                          </button>
                          <div class="dropdown-container">
                            <a href="/dashboard">Default</a>
                            <a href="/company">Company Details</a>
                          </div>
                        </li>
                        <li><a href="/images">Images</a></li>
                        <li><a href="/user">User Management</a></li>
                    </ul>

                    <div class="logout">
                        <form method="GET" action="/logout/">
                            <button class="logout-btn" type="submit" onclick="handleLogout()">LOGOUT</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="wrapper2">
            <div class="header">
            
            </div>
            <div class="main-content" id="main">
                {{ template "content" . }}
            </div>
        </div>
        

    </div>

  


  {{ template "script" . }}

  {{ define "style" }}{{ end }}

  {{ define "script" }}{{ end }}

</body>

</html>