
{{define "title"}}
<title>{{.Title}}</title>
{{end}}
{{define "content"}}

<div class="company-details">
    <div class="details1">
        <img class="company-logo" src="/static/images/MuraDito.jpg" alt="" >

        <h1 class="company-name">MURADITO HOME</h1>
        <div class="company-socmed">
            <a class="company-icon" href="https://www.facebook.com/muraditohomeofficial/" target="_blank"><i class='bx bxl-facebook-square'></i></a>
            <a class="company-icon" href="https://www.instagram.com/muraditohomeofficial/?hl=en" target="_blank"><i class='bx bxl-instagram-alt' ></i></a>
            <a class="company-icon" href="https://www.tiktok.com/@muraditohomeofficial" target="_blank"><i class='bx bxl-tiktok' ></i></a>
            <a class="company-icon" href="https://shopee.ph/muraditohomeofficial" target="_blank"><i class='bx bxs-shopping-bag'></i></a>
            <a class="company-icon" href="tel:+639178592389"><i class='bx bxs-phone'></i></a>
            <a class="company-icon" href="mailto:muraditohomeph@gmail.com"><i class='bx bxl-gmail'></i></a>
        </div>
    </div>
    <div class="details2">
        <p class="company-info">
                    Whether you want to start your own collection or you simply love pretty plates that
             instantly liven up the dining table, you might be on the lookout for stores that 
             carry a wide selection of chic tableware. You don’t need to look far and wide as 
             nestled in Quezon City is <span class="com-span">Muradito Home</span>, a <span class="com-span">“Secret Go-To Home Décor Place”</span> on West Avenue.


        </p>
        <a class="view-more" href="https://www.spot.ph/shopping/the-latest-shopping/89447/muradito-home-in-quezon-city-details-a5109-20220531" target="_blank" > >>View More..</a>
    </div>
</div>

{{end}}