
{{define "title"}}
<title>{{.Title}}</title>
{{end}}
{{define "content"}}

<div class="dashboard">
    <div class="sec1">
        <div class="total">
            <div class="data">
                <div class="data1">
                    <div class="t-line"></div>
                </div>
                <div class="data2">
                    <p class="total-label bold">Total</p>
                    <p class="total-num">{{.Total}}</p>
                </div> 
            </div>
            <div class="icon">
                <i class='bx bxs-pie-chart-alt-2 total-icon' ></i>   
            </div>
        </div>
        <div class="good">
            <div class="data">
                <div class="data1">
                    <div class="g-line"></div>
                </div>
                <div class="data2">
                    <p class="good-label bold">Good</p>
                    <p class="good-num">{{.TotalGood}}</p>
                </div> 
            </div>
            <div class="icon">
                <i class='bx bx-happy-heart-eyes good-icon' ></i>
            </div>
        </div>
        <div class="defect">
            <div class="data">
                <div class="data1">
                    <div class="d-line"></div>
                </div>
                <div class="data2">
                    <p class="defect-label bold">Defect</p>
                    <p class="defect-num">{{.TotalDefect}}</p>
                </div> 
            </div>
            <div class="icon">
                <i class='bx bx-sad defect-icon' ></i>   
            </div>
        </div>
    </div>
    <div class="sec2">
        <div class="recent-upload">
            <div class="upload-label">
                <p class="label"><span class="bold">Recent Upload</span></p>
                <a class="add-image-icon" href="/images"><i class='bx bx-image-add add-image-icon'></i></a>
            </div>
            {{ range .Ceramic}}
            <div class="pic-upload">
                <img class="plate-pic" src="/static/images/good/good1.jpg" alt="IMAGE HERE" >
            </div>
            <div class="date-upload">
                <p class="plate-date"><span class="bold">Date Uploaded:</span> {{ .Date.Format "January 2, 2006 at 15:04" }}
                
            </div>
            <div class="classification">
                <p class="plate-class"><span class="bold">Classification:</span>{{ if eq .ClassificationNum 1}} <p class="green">Good</p> 
                {{else}} <p class="red">Defected </p> 
                {{end}}
            </div>
            {{end}}
            
        </div>
        <div class="graph">
            <div class="graph-label">
                <p class="label"><span class="bold">Upload History</span></p>
            </div>
            <div id="my-chart">
                <canvas id="myChart" style="width:100%;max-width:600px"></canvas>  
            </div>
        </div>
    </div>
    <div class="sec3 table">
        <div class="user-list ">
            <div class="user-label head">
                <p class="label"><span class="bold">Users</span></p>
                <a class="add-image-icon" href="/user"><i class='bx bxs-user-plus' ></i></a>
            </div>
            <div class="dash-table">
                <table class="user-list-table">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Photo</th>
                            <th>Username</th>
                            <th>Email</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Active</th>
                            <th>Authority</th>
                            <th>Reset Password</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{ range .Users }}
                        <tr>
                            <td>{{ .ID }}</td>
                            <td>
                                <img src="{{ .Photo }}">
                            </td>
                            <td>{{ .Username }}</td>
                            <td>{{ .Email }}</td>
                            <td>{{ .FirstName }}</td>
                            <td>{{ .LastName }}</td>
                            <td>{{ if  .Active }}
                                    Active
                                {{else}}
                                    Not Active
                                {{end}}
                            </td>
                            <td>
                                {{if .Admin}}
                                    <p class="red">Admin</p>
                                {{else}}
                                    <p class="green">Regular</p>
                                {{end}}
                            </td>
                            <td>
                                <a href="#" class="btn-download btn-reset">
                                    <!-- <i class='bx bx-reset' ></i> -->
                                    <span class="text">Reset Password</span>
                                </a>
                            </td>
                        </tr>
                        {{ end }}
                    </tbody>
                </table>
            </div>
            
        </div>
    </div>
</div>
<script>
    const xValues = ['{{ .ThirdPreviousMonth }}', '{{ .SecPreviousMonth }}', '{{ .PreviousMonth }}', '{{ .CurrentMonth }}'];
const good = ['{{ .GoodTotalThirdMonth }}', '{{ .GoodTotalSecMonth }}', '{{ .GoodTotalPrevMonth }}', '{{ .GoodTotalCurrentMonth }}']; // First set of data
const defect = ['{{ .DefectTotalThirdMonth }}', '{{ .DefectTotalSecMonth }}', '{{ .DefectTotalPrevMonth }}', '{{ .DefectTotalCurrentMonth }}' ];   // Second set of data
const barColor1 = "green";
const barColor2 = "red";


new Chart("myChart", {
  type: "bar",
  data: {
    labels: xValues,
    datasets: [
      {
        label: 'Good', // Label for the first set of bars
        backgroundColor: barColor1,
        data: good
      },
      {
        label: 'Defect', // Label for the second set of bars
        backgroundColor: barColor2, // Use the same colors as the first set
        data: defect
      }
    ]
  },
  options: {
    legend: {
      display: true,
      position: 'bottom' // Place legend at the bottom
    },
    title: {
      display: true,
      text: "Ceramic Plate Classification Uploads"
    }
  }
});

</script>

{{end}}