<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login Page</title>
    
  </head>
  <body>
    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login form ceramic</title>
    <link rel="stylesheet" href="/static/css/login.css">


</head>
<body>
    <div class="login">
        <div class="left-form">
            <div class="left-content">
                <div class="login-form">
                    <div class="log-form1">
                       <div class="logo">
                        <h2>Login</h2>
                        <h4>Enter your account details</h4>
                        </div> 
                    </div>
                    <div class="log-form2">
                        <div class="login-inputs">
                            <form method="POST" action="/login/">
                                <div class="input1">
                                    <input class="uname-input input" required type="text" name="username" placeholder=" Username" value="{{.Username}}"><br>
                                    <input class="pword-input input" required type="password" name="password" placeholder=" Password" value="{{.Password}}"><br>
                                </div>
                                <div class="button">
                                    <button class="login-btn" type="submit">Login</button>
                                </div>
                                
                                  {{if .ErrExists}}
                                  <p>
                                  <br><b style="color:red">{{.Err}}</b><br>
                                  </p>
                                  {{end}}
            
                          
                            </form>
                        </div>
                        
                       
                    </div>
                    
                </div>
                   
            </div>
        </div>
        <div class="right-form">
            <div class="right-content">
                <div class="text">
                    <div class="text1">
                        <h1>Welcome to</h1>
                        <h2>Ceramic Plate Defect </h2>
                        <h2>Detection Website </h2> 
                    </div>
                    <div class="text2">
                        <h5>Login to access your account</h5>
                    </div>
                </div> 
                <div class="image">
                    <img class="login-image" src="/static/images/image.webp" alt="">
                </div>
                
        </div>
    </div>
</body>
</html>
    
  </body>
</html>